body{
size: 960px;
background-color: gray;
font-family: Droid Sans, serif;
}

#logo {
float: right;
margin: 20px;
}
nav{
margin-top: 400px;
clear: right;
height: 500px;
width: auto;
background-color: red;
}
nav li{
text-align: center;
list-style: none;
float: left;
margin: 30px 10px;
padding: 0;
display: inline-block;



}
p{
vertical-align:text-bottom;
}

footer{
font-size: 15px;
text-align: center;
background-color: green;
}
